body{
	background-color: pink;
	background-image: url(../img/ball.jpg);
	background-position: center;
	background-size: 80%,cover;
	
}









.container{
	background-color: rgba(255, 99, 71, 0.5);
	width:800px;
	min-height:500px;
	padding: 30px;
	margin:30px auto;
	 }